In [7]:
print("ankit")

ankit

In [6]:
#Data type
#Dynamically type
x= 3
y = 5.2
%whos
print(type(x))

Variable   Type     Data/Info
-----------------------------
x          int      3
y          float    5.2
<class 'int'>

In [14]:
a,b,c,d,e,f = 2,31,13,13,233,"Ankit"
print(a)
print(f[2])
print(set(f))
del b

%whos

2
k
{'k', 't', 'A', 'i', 'n'}
Variable   Type     Data/Info
-----------------------------
a          int      2
c          int      13
d          int      13
e          int      233
f          str      Ankit
x          int      3
y          float    5.2

In [15]:
c = 2+4j
print(c)

(2+4j)

Types of Operator
1. Arthimetic Operator -> -,+,/
2. Relational Operator -> <,>,<=,>=,==
3. Logical Operator -> and , or
4. Assignment Operator -> =,+=,-=
5. Shifting Operator -> >>,<< -  hunna python ma
6. Uniary Operator -> a++, b++, --a
7. Terniary Operator -> expression?statement1 : statement2  (statement1 runs if expression is true else statement2 runs)  -    hunna python ma
8. Bitwise Operator -> &,|,! -  hunna python ma

In [17]:
s1= "hello"
s2="world"
print(f"{s1} {s2}")

hello world

In [23]:
x3 = 5
print(x3)

#suru ma number  vaye variables name rakhna mildaina

5

In [24]:
a = True
b = True
c = False
d = True
not((a and b) and (c or d))

False

In [25]:
g = a or b and c
print(g)

True

Comparison

In [26]:
print(2>3)

False

In [27]:
c = 2>3
print(type(c))
print(c)

<class 'bool'>
False

In [28]:
print(round(4.5))

4